/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 0 15px;
}

.navbar-logo a,
.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #ff6347; /* Or any color that matches your restaurant's theme */
}
