.tasks {
  justify-content: space-between;
  align-items: center;
}

.tasks button {
  height: fit-content;
}

.tasks-row .card {
  width: 50%;
  margin-top: 25px;
}

.tasks-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.task-card {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 300px; /* Adjust based on your preference */
  margin: 0 auto;
}

.task-content {
  padding: 16px;
}

.task-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.task-course,
.task-dueDate {
  font-size: 16px;
  color: #bbb;
  margin-bottom: 8px;
}

.task-actions {
  background: #222;
  padding: 10px 16px;
  text-align: right;
}

.task-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-button:hover {
  background-color: #43a047;
}
